

@model MTS.Northwind.AspMvcCoreUI.Models.CategoryListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
</head>
<body>
    <div class="list-group">
        @foreach (var category in Model.categories)
        {
            var css = "list-group-item";
            if (category.CategoryID == Model.current_categories)
            {
                css += " active";
            }
        <a href="/product/index?categoryID=@category.CategoryID" class="@css">@category.CategoryName</a>
        }
    </div>
</body>
</html>
