@model MTS.Northwind.AspMvcCoreUI.Models.ProductUpdateViewModel
@{
    Layout = "~/Views/_AdminLayout.cshtml";

}
<!DOCTYPE html>

<h2>Add Product </h2>
<h1>@TempData["message"] </h1>
<form asp-action="Update" asp-controller="Admin" method="post">
    
    <div class="form-group">
        <label asp-for="Product.ProductName"></label>
        <input class="form-control" asp-for="Product.ProductName" placeholder="Product Name" />
        <span asp-validation-for="Product.ProductName"> </span>

    </div>
    <div class="form-group">
        <label asp-for="Product.CategoryID"></label>
        @* select list içerisine Category Bilgileri dolduruldu *@
        <select class="form-control" asp-for="Product.CategoryID " asp-items="@(new SelectList(Model.Categories,"CategoryID","CategoryName"))"></select>
        <span asp-validation-for="Product.CategoryID"> </span>

    </div>
    <div class="form-group">
        <label asp-for="Product.UnitPrice"></label>
        <input class="form-control" asp-for="Product.UnitPrice" placeholder="Unit Price" />
        <span asp-validation-for="Product.UnitPrice"> </span>

    </div>
    <div class="form-group">
        <label asp-for="Product.UnitsInStock"></label>
        <input class="form-control" asp-for="Product.UnitsInStock" placeholder="Unit In Stock " />
        <span asp-validation-for="Product.UnitsInStock"> </span>

    </div>
    <input type="hidden" asp-for="Product.ProductID" />
    <input type="submit" value="Add" class="btn btn-success" />

</form>